/* Se establecen variables */
:root{
    --blue1:#6495ed;
    --blue2:#afeeee;
}

/* Reiniciar los estilos que vienen por defecto del navegador
Box-sizing (tamaño de caja) Establece cómo se calcula el ancho y altyo de un elemento*/

html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/* Propiedad display: tiene que ver con elementos en linea y bloque. 
Block, inline */

body{
    /* Fondo con degradado lineal  */
    background: linear-gradient(180deg,var(--blue2)0%,var(--blue1)100%)
}

header{
    /* Permitirá ajustar los contenidos en función del tamaño de pantalla y espacio disponible*/
    display: flex; 
    /* Centra el contenido horizontalmente */
    justify-content: center;
    margin: 0;
}

h1{
    text-align: center;
    padding: 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilizar barra de navegación */
/* Llamamos a la clase establecida en la línea 14 del html en el elemento nav */
.nav-links{
    display: flex;
    /* Justifica con espacios entre los elementos */
    justify-content: space-between;
    margin: 20px;
    padding:15px;
    font-size:20px;
}

/* Colocamos clase compartida a los elementos <a> del elemento <nav> */
.links{
    /* Elimina el subrayado de los hipervínculos */
    text-decoration: none;
    color: black;
}


