/* Se establecen variables */
:root{
    --blue1:#6495ed;
    --blue2:#afeeee;
}

/* Reiniciar los estilos que vienen por defecto del navegador
Box-sizing (tamaño de caja) Establece cómo se calcula el ancho y altyo de un elemento*/

html{
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

/* Propiedad display: tiene que ver con elementos en linea y bloque. 
Block, inline */

body{
    /* Fondo con degradado lineal  */
    background: linear-gradient(180deg,var(--blue2)0%,var(--blue1)100%)
}

header{
    /* Permitirá ajustar los contenidos en función del tamaño de pantalla y espacio disponible*/
    display: flex; 
    /* Centra el contenido horizontalmente */
    justify-content: center;
    margin: 0;
}

h1{
    text-align: center;
    padding: 0 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Estilizar barra de navegación */
/* Llamamos a la clase establecida en la línea 14 del html en el elemento nav */
.nav-links{
    display: flex;
    /* Justifica con espacios entre los elementos */
    justify-content: space-between;
    margin: 20px;
    padding:15px;
    font-size:20px;
}

/* Colocamos clase compartida a los elementos <a> del elemento <nav> */
.links{
    /* Elimina el subrayado de los hipervínculos */
    text-decoration: none;
    color: black;
}

/* Referenciamos el id del article de nuestra nueva sección */
#cards-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container{
    border: 4px solid blue;
    box-shadow: 0 2px 4px rgba(0,2,2,2.5);
    flex: 0 0 30%;
    /* Limitar el ancho */
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color:pink;
}

.card-image{
    width: 100%;
    /* 4 valores: desplazamiento horizontal, vertical, difuminación y color */
    filter: drop-shadow(0 0px 20px red);
}

.card-title{
    font-size: 30px;
    color: whitesmoke;
}

/* Pseudoclase */
h3:hover{
    background-color: black;
}

/* Pseudoelementos */
h3::first-letter{
    color: hotpink;
}

.card-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-card{
    background: linear-gradient(180deg,var(--blue2)0%,var(--blue1)100%)
}

